@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */
a {
	width: 100px;
	height: 100px;
	display: block;
	text-decoration: none;
}
.celeste {
	background-color: #2BFFF7;
	color: #2BFFF7;
}
.azul {
	background-color: #0D57D8;
	color: #0D57D8;
}
.naranjo {
	background-color: #C9420F;
	color: #C9420F;
}
.rosado {
	background-color: #C94747;
	color: #C94747;
}
a:hover span {
	width: 100px;
	height: 50px;
	background-color: black;
	display: block;
	margin-left: 100px;
	font-family: 'dosis';
	font-size: 30px;
	text-align: center;
	padding: 25px 0px;

}

 
























